In [1]:
# importing required modules
import pandas as pd 
import mysql.connector as msql
import math
import os
import re

In [2]:
# Importing Excel file form directory 
directory_path =(r'C:\Users\spjay\OneDrive - VigyanShaala\02 Products  Initiatives\01 SheForSTEM\05 Kalpana M&E\00 DBMS 1.0\Kalpana\Kalpana\05 Accelerator\Accelerator 3.0\data_files\01 General Info')

excel_files = [file for file in os.listdir(directory_path) if file.endswith('.xlsx')]

for file in excel_files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_excel(file_path)
    print(f"Data from {file}:")

Data from General Information.xlsx:

In [4]:
# Function to clean email addresses
def clean_email(email):

    # Convert to lowercase and remove extra spaces
    cleaned_email = email.lower().strip()
    # Remove patterns like ".com.1"
    cleaned_email = re.sub(r'\.com\.\d+', '.com', cleaned_email)
    return cleaned_email

# Apply the function to the 'email' column
df['Email ID'] = df['Email ID'].apply(clean_email)

In [5]:
# Renaming Column name in data
df.columns =['Accelerator_Mentee_ID', 'Email', 'Name', 'Phone', 'Accelerator_Group_Name',
       'Accelerator_Batch']

# Genarl Info MySQL Table

In [ ]:
# Connecting to MySQL Database
conn= msql.connect(host='',user='',password="",database="",auth_plugin='')

In [7]:
cursor =conn.cursor()

In [8]:
for i, row in df.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(df.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO she_for_stem.01_general_information ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in df.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

In [9]:
conn.commit()

# Student Progress MySQL Table

In [10]:
# Creating new table which for Payment which is taken from incubator graphy sheet
Student=pd.DataFrame(df[["Email"]])

In [11]:
# Add a new column 'Accelerator_Status' with all values set to 'AC3'
Student['Accelerator_Status'] = 'AC3'

In [ ]:
# Connecting to MySQL Database
conn= msql.connect(host='',user='',password="",database="",auth_plugin='')
cursor =conn.cursor()

In [13]:
for i, row in Student.iterrows():
    row = [None if isinstance(val, float) and math.isnan(val) else val for val in row] # replace "nan" values with None
    columns = ','.join(Student.columns)
    placeholders = ','.join(['%s']*len(row))
    # Construct the INSERT query with ON DUPLICATE KEY UPDATE clause
    query = f"INSERT INTO she_for_stem.04_student_progress ({columns}) VALUES ({placeholders}) ON DUPLICATE KEY UPDATE "
    query += ", ".join([f"{col}=VALUES({col})" for col in Student.columns if col != 'Email'])
    # Execute the query
    cursor.execute(query, tuple(row))

In [14]:
conn.commit()